/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 3rem;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}

/* Variables */
:root{
    --main-color: #edd4c6;
    --second-color: #edeae3;
    --third-color: #bc9667;
    --fourth-color: #fbf6f3;
    --text-color: #1b1b1b;
    --bg-color: #ffff;
}

.scrollTop{
    font-size: 380%;
    right: 30px;
    bottom: 30px;
    width: 5%;
    height: 10%;
    text-align: center;
    position: fixed;
    cursor: pointer;
    transition: 0.5s;
    text-decoration: none;
    border: none;
    background: transparent;
    color: var(--text-color);
    z-index: 10;
    display: none;
}
.scrollTop:hover{
    transition: 0.5s;
    color: var(--third-color);
}
.scrollTop:active{
    color: var(--main-color);
}

section{
    padding: 50px 100px;
}

img{
    width: 100%;
}

body{
    color: var(--text-color);
}

.container{
    max-width: 960px;
    margin: auto;
    width: 100%;
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 100;
    background: transparent;
    -webkit-transition: all ease-out .5s;
    -moz-transition: all ease-out .5s;
    -o-transition: all ease-out .5s;
    transition: all ease-out .5s;
}

header.active{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 100;
    background: var(--bg-color);
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s linear;
}

.logo img{
    width: 60px;
    vertical-align: middle;
}

.logo span{
    padding-left: 0.5rem;
    font-size: 0.6rem;
    letter-spacing: 1px;
    vertical-align: middle;
    color: var(--text-color);
}

.navbar{
    display: flex;
    align-items: center;
    column-gap: 0.3rem;
    padding: 20px 0;
}

.navbar a{
    padding: 8px 17px;
}

.nav-link{
    position: relative;
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-color);
    text-transform: uppercase;
    transition: 0.3s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

.nav-link::after{
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background: var(--text-color);
    transition: 0.3s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

.nav-link:hover.nav-link::after{
    width: 100%;
    transition: 0.3s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

.menu-icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 5px;
    cursor: pointer;
    z-index: 200;
    transition: 0.3s;
}

.menu-icon div{
    display: none;
    background: var(--text-color);
    height: 2px;
    width: 25px;
    transition: 0.3s;
}

.move .line1{
   transform: rotate(-45deg) translate(-5px, 5px);
}

.move .line2{
    opacity: 0;
 }

 .move .line3{
    transform: rotate(45deg) translate(-5px, -5px);
 }

/* Button */
.schedule-btn{
    font-size: 0.875rem;
    font-weight: 500;
    color: var(--text-color);
    padding: 10px 24px;
    margin-left: 2rem;
    border: 1px solid var(--text-color);
}

.btn{
    padding: 10px 24px;
    border-radius: 0.2rem;
    transition: 0.3s all linear;
}

.schedule-btn:hover{
    color: var(--bg-color);
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
}

.header-icon{
    font-size: 22px;
    cursor: pointer;
    z-index: 10000;
    display: flex;
    margin-left: 1rem;
}

.info-container{
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    background-color: var(--main-color);
}

.info{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, auto));
    gap: 1.5rem;
    text-align: center;
    color: var(--bg-color);
    font-weight: 500;
    font-size: 1.1rem;
    max-width: 1260px;
    margin: auto;
}

.info a, .footer a{
    color: var(--bg-color);
}

.home{
    max-width: 100%;
    min-height: 80vh;
    background: url(../Images/main.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(17rem, auto));
    align-items: center;
    gap: 1.5rem;
}

.home-text h1{
    font-size: 1.9rem;
    color: var(--text-color);
    text-transform: uppercase;
    letter-spacing: 1px;
}

.home-text h2{
    color: var(--third-color);
    margin: 0.5rem 0 1.4rem;
}

.home-text p{
    max-width: 460px;
    font-size: 0.9rem;
    color: var(--text-color);
    margin: 0.5rem 0 1.4rem;
    padding-bottom: 1rem;
}

.span-contenter{
    color: var(--third-color);
}

.book-btn{
    padding: 10px 40px;
    border-radius: 0.3rem;
    background: var(--third-color);
    color: var(--bg-color);
    font-weight: 500;    
}

.book-btn:hover{
    background: var(--main-color);
}

.about-container{
    width: 100%;
    margin: auto;
    background-color: #fff9f3;
}

.about {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(17rem, auto));
    align-items: center;
    gap: 1.5rem;
    max-width: 960px;
    margin: auto;
    width: 100%;
}

.about-text p{
    text-align: center;
    margin-bottom: 2rem;
}

.about-text h1, .main-service .main-container h1{
    text-align: center;
    margin-bottom: 2rem;
    font-weight: 400;
    font-size: 2.5rem;
    color: var(--third-color);
}

.about-text h4, .main-service .main-container h4{
    text-align: center;
    font-weight: lighter;
    margin-top: 2rem;
}

.about-text div{
   display: flex;
   justify-content: center;
}

.heading h3{
    text-align: center;
    font-weight: 600;
    padding-bottom: 0.5rem;
    color: var(--third-color);
}

.heading h1{
    text-align: center;
    font-size: 2rem;
    color: var(--third-color);
    padding-bottom: 3rem;
}

.services-text{
    text-align: center;
    margin-top: 1.5rem !important;
}

.heading{
    text-align: center;
    font-weight: lighter;
    margin-top: 2rem;
    color: var(--third-color);
}

.services-container .services-text h1{
    font-weight: 400;
    font-size: 1.8rem;
}

.services-container .services-text .line{
    width: 200px;
    padding-bottom: 1.5rem;
}

.services-text p{
    max-width: 600px;
    margin: auto;
}

.explore-more{
    vertical-align: middle;
    display: inline-flex;
    align-items: self-end;
    color: var(--third-color);
    margin-top: 0.7rem;
    margin-bottom: 3rem;
}

.explore-more .bx{
    font-size: 1.2rem;
    margin-left: 0.4rem;
    transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

.explore-more:hover .bx{
    margin-left: 0.8rem;
    transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

.services-data{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(200px, auto));
   gap: 2rem;
   margin-bottom: 3rem;
}

.services-box{
    position: relative;
    width: 100%;
    height: 370px;
}

.services-box::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 7px;
    bottom: 7px;
    border: 1px solid var(--bg-color);
    background: transparent;
    z-index: -1;
}

.services-box img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.services-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: hsl(33, 69%, 94%, 0.7);
    padding: 15px;
    clip-path: circle(0% at 50% 50%);
    transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

.overlay-text h2{
    font-size: 1.4rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-weight: 500;
}

.overlay-text p{
    font-size: 0.9rem;
}

.services-box:hover .services-overlay{
    clip-path: circle(70.7% at 50% 50%);
    transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

.break-container{
    width: 100%;
    min-height: 50vh;
    background: url(../Images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.customers-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, auto));
    gap: 1.5rem;
    margin: auto;
    text-align: center;
}

.customers-container .box{
    padding: 20px;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px #ccc;
    text-align: center;
}

.stars{
    margin-bottom: 1rem;
}

.stars .bx{
    color: var(--third-color);
}

.customers{
    padding-bottom: 7rem;
}

.customers-container .box p{
    font-size: 0.9rem;
    font-weight: lighter;
}

.customers-container .box h2{
    font-size: 1.2rem;
    font-weight: 500;
    margin: 1rem 0 0.5rem;
}

.customers-container .box img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
}

.customers-container .box:hover{
    background-color: var(--fourth-color);
    transition: 0.2s all linear;
}

.footer-container{
    width: 100%;
    min-height: 40vh;
    background: url(../Images/footer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.footer{
    text-align: center;
    color: var(--bg-color);
    max-width: 960px;
    margin: auto;
}

.footer h1{
    padding-top: 0.5rem;
    padding-bottom: 3rem;
    font-size: 2.8rem;
    font-weight: 600;
}

.footer p{
   font-size: 1.2rem;
   padding-bottom: 4rem; 
}

.footer h4{
    padding-top: 2rem;
    font-size: 0.9rem;
}

.footer .call{
    font-size: 3.7rem;
    font-weight: 500;
    padding: 0;
}

.footer .social, .footer .social a{
    color: var(--bg-color);
    font-size: 1.5rem;
    letter-spacing: 0.7rem;
}

.footer .copyright{
    padding-top: 1rem;
    padding-bottom: 0;
    font-size: 0.7rem;
    font-weight: lighter;
}

/* Make Responsive */
@media (max-width: 1085px){
    .container{
        margin: auto;
        width: 90%;
    }

    .home, .aboutus, .ourservices, .contact{
        min-height: 600px;
        padding-top: 7rem;
    }

    .home-text{
        max-width: 400px;
    }

    .info{
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
        max-width: 960px;
    }

    .break-container {
        min-height: 23vh;
    }

    .footer-container{
        min-height: 600px;
    }
}

@media (max-width: 900px){
    .home-text h1{
        font-size: 1.5rem;
    }

    .home-text h2{
        font-size: 1.3rem;
    }

    .home-text p, .home-text .book-btn{
        font-size: 0.75rem;
    }

    .break-container{
        min-height: 17vh;
    }

    .customers h1{
        font-size: 1.9rem;
    }
}

@media (max-width: 866px) {
    .container{
        margin: auto;
        width: 85%;
    }

    .home, .aboutus, .ourservices, .contac{
        min-height: 450px;
        padding-top: 7rem;
    }

    .info{
        font-size: 15px;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    
    .logo .logo-name{
        display: none;
    }
}

@media (max-width: 800px){
    .menu-icon, .menu-icon div{
        display: flex;
    }

    .navbar{
        position: absolute;
        top: 0;
        right: 0;
        width: 300px;
        min-height: 100vh;
        background-color: var(--third-color);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 50px 0;
        clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
        transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
    }

    .open-menu{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
    }

    .nav-link{
        display: block;
        margin: 1rem 0;
    }

    .schedule-btn{
        margin: 1.5rem 0 0 0;
    }

    .services-data{
        display: grid;
        grid-template-columns: 1fr;
        width: 80%;
        margin: auto;
        padding-bottom: 3rem;
    }

    .services-box{
        height: 200px;
    }
}

@media (max-width: 680px){
    .home-data, .aboutus-data{
        background-color: rgba(0, 4, 6, .3);
        text-align: center;
        padding: 2rem;
    }

    .home-text h1{
        color: var(--bg-color);
        font-size: 1.3rem;
    }
    
    .home-text h2{
        color: var(--bg-color);
        font-size: 1rem;
    }

    .home-text p{
        color: var(--bg-color);
        font-size: 0.7rem;
    }

    .info{
        font-size: 11px;
    }

    .customers-container{
        display: grid;
        grid-template-columns: 1fr;
    }

    .footer h1{
        padding-top: 0.5rem;
        padding-bottom: 1.5rem;
        font-size: 2rem;
        font-weight: 600;
    }
    
    .footer p{
       font-size: 0.8rem;
       padding-bottom: 2rem; 
    }
    
    .footer h4{
        padding-top: 1.5rem;
        font-size: 0.7rem;
    }

    .footer .call{
        font-size: 2.4rem;
    }

    .footer-container{
        min-height: 10vh;
    }

}

@media (max-width: 557px){
    .home-text h1{
        font-size: 1rem;
    }
    
    .home-text h2{
        color: var(--bg-color);
        font-size: 0.8rem;
    }

    .home-text p{
        color: var(--bg-color);
        font-size: 0.7rem;
    }

    .about {
        display: grid;
        grid-template-columns: 1fr;
    }

    .book-btn{
        padding: 5px 20px;
       
    }

    .footer .call{
        font-size: 1.9rem;
    }
}