<html>

  <head>
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/style1.css" rel="stylesheet" type="text/css">	
    <!-- Box Icons -->
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css"> 
 </head>

  <body>
    <header class="header">
        
        <!-- Navbar -->
        <div class="nav container">

            <!-- Logo -->
            <a href="https://browsbydino.com/index.html" class="logo">
                <img src="/images/logo.png">
                <span class="logo-name">Beauty Studio by Dino</span>
            </a>

            <!-- Nav Links -->
            <div class="navbar">
                <li><a href="https://browsbydino.com/index.html" class="nav-link">Home</a></li>
                <li><a href="https://browsbydino.com/pages/about.html" class="nav-link">About</a></li>
                <li><a href="https://browsbydino.com/pages/services.html" class="nav-link"> Services</a></li>
                <li><a href="https://browsbydino.com/pages/contact.html" class="nav-link">Contact</a></li>
                <a href="" class="schedule-btn btn">Book Now</a>
            </div>

            <!-- Icons -->
            <div class="header-icon">
                <i class='bx bx-user'></i>
            </div>

            <!-- Menu Icon -->
            <div class="menu-icon">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>

        </div>

  </header>
  <!-- About Us Home -->
    <section class="ourservices" id="ourservices">
        
        <div class="aboutus-data container">

             <!-- Home Text -->
            <div class="aboutus-text">

                <h1>Our Services</h1>

            </div>

        </div>

    </section>
    <div class="space"></div>
  
    <div class="formatted-error">
      <p>HTTP <%= code %></p>
      <h1><%= shortDescription %></h1>
      <h2><%= description %></h2>
      <a class="button" href="/services">Back to Home</a>
    </div>
  </body>

</html>
